<div class="container-width">

<header class="header-module--header--2K2b3" style="position:relative">
  <div class='head'> 
    <a aria-current="page" class="header-module--logo--3tWQ2" href="https://elbrusboot.camp">
    <img class="header-logo" src="https://elbrusboot.camp/static/newLogo-00ed4b8011624cd94aa1812d35f25088.svg" alt="Logo"/></a>
    <a href="/admin">
   <button  class="adminbtn">Для админа</button>
  </a>
    </div>
  </header>

  <div class='text-width'>
    <h3>Привет, дружок!<br><br>
Поздравляем тебя с покорением Эльбруса!<br> Наверняка восхождение было непростым, но признайся - оно того стоило!<br><br>
А теперь, чтобы мы помогли тебе с поиском первой работы разработчика, заполни <a  href="/user">анкету</a> </h3>

  </div>

