<header class="header-module--header--2K2b3" style="position:relative">
  <div class='head'> 
    <a aria-current="page" class="header-module--logo--3tWQ2" href="https://elbrusboot.camp">
    <img class="header-logo" src="https://elbrusboot.camp/static/newLogo-00ed4b8011624cd94aa1812d35f25088.svg" alt="Logo"/></a>
    <a href="/">
   <button  class="adminbtn">На главную</button>
  </a>
  </div>
  <h1 class='text'>Спасибо!<br>
И да прибудет с тобой сила!</h1>

