
<header class="header-module--header--2K2b3" style="position:relative">
  <div class="header-module--content--3V1Zo">
    <a aria-current="page" class="header-module--logo--3tWQ2" href="https://elbrusboot.camp">
    <img src="https://elbrusboot.camp/static/newLogo-00ed4b8011624cd94aa1812d35f25088.svg" alt="Logo"/></a>
    </div>
  </header>

<div>
<form>
  
  <p>Пожалуйста заполни форму!</p>
    <hr>
        <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" name="firstname" placeholder="ФИО" required="required">
      </div>
        </div>
        <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" name="lastname" placeholder="Группа" required="required">
      </div>
        </div>
        <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
        <input type="email" class="form-control" name="email" placeholder="Ник в телеграм" required="required">
      </div>
        </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="text" class="form-control" name="password" placeholder="Ссылка на резюме на hh.ru" required="required">
      </div>
        </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-lock"></i>
          <i class="fa fa-check"></i>
        </span>
        <input type="text" class="form-control" name="confirm_password" placeholder="Ссылка на github" required="required">
      </div>
      </div>
      <div class="mb-3">
          <label for="formFile" class="form-label">Прикрепи резюме</label>
          <input class="form-control" type="file" id="formFile">
      </div>
      <div class="mb-3">
          <label for="formFile" class="form-label">Прикрепи фото</label>
          <input class="form-control" type="file" id="formFile">
      </div>

 </form>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
