<div class="container-width">

<header class="header-module--header--2K2b3" style="position:relative">
  <div class="">
    <a aria-current="page" class="header-module--logo--3tWQ2" href="https://elbrusboot.camp">
    <img class="header-logo" src="https://elbrusboot.camp/static/newLogo-00ed4b8011624cd94aa1812d35f25088.svg" alt="Logo"/></a>
    </div>
  </header>
<div class = "md-8 ">
<form method="POST" action="http://localhost:3000/user">
  <p>Пожалуйста, заполни форму!</p>
        <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" name="firstname" placeholder="Имя" required="required">
      </div>
        </div>
        <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" name="lastname" placeholder="Фамилия" required="required">
      </div>
        </div>
        <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
        <input type="text" class="form-control" name="patronymic" placeholder="Отчество" required="required">
      </div>
      </div>
      <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
        <input type="text" class="form-control" name="groupid" placeholder="Группа" required="required">
      </div>
      </div>
       <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
        <input type="data" class="form-control" name="graduationdate" placeholder="Год выпуска" required="required">
      </div>
        </div>
      <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
        <input type="text" class="form-control" name="telegram" placeholder="Ник в телеграм" required="required">
      </div>
        </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="email" class="form-control" name="hhcv" placeholder="Ссылка на резюме на hh.ru" required="required">
      </div>
        </div>
    <div class="form-group">
      <div class="input-group">
       
        <input type="email" class="form-control" name="github" placeholder="Ссылка на github" required="required">
      </div>
      </div>
      <div class="mb-3">
          <label for="formFile" class="form-label">Прикрепи резюме</label>
          <input class="form-control" type="file" name="pdfcv">
      </div>
      <div class="mb-3">
          <label for="formFile" class="form-label">Прикрепи фото</label>
          <input class="form-control" type="file" name="userphoto" required="required">
      </div>
 
  <button type="submit" class="btn btn-primary">Тык</button>
</form>
</div>
</div>


