<header class="header-module--header--2K2b3" style="position:relative">
  <div class="header-module--content--3V1Zo">
    <a aria-current="page" class="header-module--logo--3tWQ2" href="https://elbrusboot.camp">
    <img src="https://elbrusboot.camp/static/newLogo-00ed4b8011624cd94aa1812d35f25088.svg" alt="Logo"/></a>
    </div>
</header>
