{{>header}}
<div>
{{>admin.navbar}}
</div>
<div class="container">
  <form action="/admin/location/new" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Название локации</label>
    <input type="text" name="login" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Добавить локацию</button>
</form>
</div>


