<div>
{{>admin.navbar}}
</div>
<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
  <div class="card-header">Ошибка!</div>
  <div class="card-body">
    <p class="card-text">{{message}}</p>
  </div>
</div>
