{{>header}}
<div>
{{>admin.navbar}}
</div>
  {{#if mes}}
  <h1>{{mes}}</h1>
  {{/if}}
<div class="container">
{{#each groups}}
  <a href="/admin/groups/{{this.id}}" class="link-info">{{this.name}}</a>
{{/each}}
</div>


